In [1]:
#1.Unique Words in a Sentence
#Input
sentence = "python is easy and python is powerful"
#Split sentence into words
words = sentence.split()
#Convert list to set to remove duplicates
unique_words = set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'and', 'is', 'powerful', 'easy', 'python'}

In [2]:
#2.Highest Salary from Employee Data
#Input:Dictionary of employees and their salaries
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
#Find the employee with the highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [3]:
#3.Find Maximum and Minimum Values
#Input:List of numbers
numbers = [45, 22, 89, 10, 66]
#Initialize max and min with the first element
max_val = numbers[0]
min_val = numbers[0]
#Loop through the list to compare each element
for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num
print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
#4.Count Products Above a Price Threshold
#Input:List of product prices
prices = [450, 1200, 899, 1500, 300]
#Initialize counter
count = 0
# Loop through prices and compare with threshold (1000)
for price in prices:
    if price > 1000:
        count += 1
print("Products above 1000:", count)

Products above 1000: 2

In [5]:
#5.Calculate Attendance Percentage
#Input:List of attendance records
attendance = ["P", "P", "A", "P", "P"]
#Count number of P (Present)
present_count = attendance.count("P")
# Step 2: Calculate percentage
attendance_percentage = (present_count / len(attendance)) * 100
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

In [6]:
#6.Remove Duplicate Phone Numbers
#Input:List of phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
#Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
#7.Count Character Frequency
# Input: String
text = "python"
#Initialize empty dictionary
char_freq = {}
#Loop through each character
for char in text:
    if char in char_freq:
        char_freq[char] += 1
    else:
        char_freq[char] = 1
print(char_freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
#8.Convert List to Tuple
# Input: List of numbers
numbers = [10, 20, 30]
#Convert list to tuple
numbers_tuple = tuple(numbers)
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [9]:
#9.Check if a Key Exists in a Dictionary
# Input: Dictionary of employees
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
#Key to check
key_to_check = "Ravi"

# Use 'in' keyword to check existence
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:
#10.Calculate Average Marks
# Input: List of marks
marks = [80, 70, 65, 75]
#Calculate sum of marks
total = sum(marks)
average = total / len(marks)
print("Average Marks:", average)

Average Marks: 72.5